@media only screen {
	.postarchive-wrapper{
		max-width: $xlarge;
	}
	.postarchive-wrapper-grid{
		list-style: none;
		padding: 0;
		margin: 80px 0px;
	}
	.postarchive-wrapper-grid-item{
		padding: 40px 0px 20px 0px;
		border-bottom: 1px solid $flamingo;
		&.nodividers{
			border-bottom: 0px solid $flamingo;
		}
	}
	.postarchive-wrapper-grid-item-banner{
		display: block;
		padding: 10px 20px;
		text-decoration: none;
		flex-basis: 100%;
	}
	.postarchive-wrapper-grid-item-banner-text{
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		&-line1,
		&-line2{
			display: block;
			line-height: 0.7;
		}
		&-line2{
			position: relative;
			left: 10px;
		}
	}
	.postarchive-wrapper-grid-item-imagelink-image{
		display: block;
	}
	.postarchive-wrapper-grid-item-text{
		padding: 20px 0px;
	}
	.postarchive-wrapper-grid-item-text-title{
		line-height: 1.25;
		margin-bottom: 10px;
		color: black;
		text-decoration: none;
		font-size: 24px;
		font-weight: bold;
		display: block;
		&.hasbanner{
			margin-top: 20px;
		}
	}
	.postarchive-wrapper-grid-item-text-excerpt{
		margin-bottom: 10px;
	}
	.postarchive-wrapper-grid-item-text-authordate{
		display: flex;
		justify-content: space-between;
		font-size: 12px;
	}
	.postarchive-wrapper-grid-item-text-authordate-author{
		text-transform: uppercase;
		font-weight: 700;
		text-decoration: none;
		color: black;
	}
	.postarchive-wrapper-grid-item-text-authordate-date{
		color: $flamingo;
		font-weight: 700;
		text-transform: uppercase;
	}
	.postarchive-wrapper-seemore{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 20px;
		border: 2px solid black;
		text-transform: uppercase;
		margin-bottom: 80px;
		font-weight: bold;
		cursor: pointer;
	}
}

@media only screen and (min-width: $medium){
	.postarchive-wrapper-grid-item{
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 80px 0px 40px 0px;
		&:nth-child(even){
			flex-direction: row-reverse;
			.postarchive-wrapper-grid-item-text{
				padding-right: 10px;
				padding-left: 0px;
			}
			.postarchive-wrapper-grid-item-imagelink{
				padding-left: 10px;
				padding-right: 0px;
			}
		}
	}
	.postarchive-wrapper-grid-item-banner-text{
		font-size: 24px;
	}
	.postarchive-wrapper-grid-item-text{
		padding: 0px;
		padding-left: 10px;
	}
	.postarchive-wrapper-grid-item-imagelink{
		padding-right: 10px;
	}
	.postarchive-wrapper-grid-item-text,
	.postarchive-wrapper-grid-item-imagelink{
		width: 50%;
	}
	.postarchive-wrapper-grid-item-text-title{
		font-size: 32px;
	}
	.postarchive-wrapper-grid-item-text-excerpt{
		font-size: 28px;
		line-height: 1.25;
		font-weight: 300;
		letter-spacing: -0.06em;
	}
	.postarchive-wrapper-grid-item-text-authordate{
		display: block;
		margin-top: 20px;
	}
	.postarchive-wrapper-grid-item-text-authordate-date{
		margin-left: 40px;
	}
	.postarchive-wrapper-grid-item-text-authordate-date,
	.postarchive-wrapper-grid-item-text-authordate-author{
		font-size: 16px;
		display: inline-block;
	}
}

@media only screen and (min-width: $large){
}
