@media only screen {
	.singlehead,
	.singlebody{
		position: relative;
		z-index: 2;
	}
	.singlehead-wrapper,
	.singlebody-wrapper{
		max-width: $xlarge;
		margin-left: auto;
		margin-right: auto;
		padding: 0px 20px;
	}
	.singlehead-wrapper{
		margin: 40px auto 20px auto;
	}

	.singlehead-wrapper-title{
        text-align: center;
        font-weight: 300;
        font-size: 40px;
	}
	.singlehead-wrapper-excerpt{
		font-weight: 400;
		text-align: center;
		margin: 20px auto;
		font-size: 22px;
		max-width: $small;
	}
	.singlehead-wrapper-divider{
		border-color: $flamingo;
		margin: 20px 0px 50px 0px;
	}
	.singlehead-wrapper-authorname{
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		letter-spacing: 0.1em;
	}
	.singlehead-wrapper-authortitle{
		font-size: 16px;
		font-weight: 400;
		text-align: center;
		letter-spacing: 0.05em;
	}
	.singlehead-wrapper-postdate{
		text-transform: uppercase;
		font-weight: 700;
		color: $flamingo;
		margin: 10px 0px 40px 0px;
		text-align: center;
		letter-spacing: 0.05em;
	}
	.singlehead-wrapper-attribution{
		font-size: 13px;
		margin: 20px 0px 0px 0px;
		letter-spacing: 0.025em;
		max-width: 400px;
		p{
			margin: 0;
		}
	}

	.singlebody-wrapper-content{
		padding-top: 40px;
		position: relative;
		&:before{
			content: '';
			display: block;
			width: 100%;
			border-top: 1px solid $flamingo;
			top: 0px;
			position: absolute;
		}
	}
	.singlebody-wrapper-content-body{
		h1,h2,h3,h4,h5,h6{
			margin-bottom: 4px;
		}
	}
	.singlebody-wrapper-content-author{
		margin-top: 40px;
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.singlebody-wrapper-content-author-image{
		padding-right: 5px;
		max-width: 200px;
	}
	.singlebody-wrapper-content-author-bio{
		padding-left: 5px;
	}
	.singlebody-wrapper-content-author-image,
	.singlebody-wrapper-content-author-bio{
		width: 50%;
	}
	.singlebody-wrapper-content-author-bio{
		font-size: 13px;
	}
	.singlebody-wrapper-content-author-social{
		width: 50%;
		margin-left: auto;
		padding-left: 5px;
		padding-top: 5px;
	}
	.singlebody-wrapper-content-author-social-wrap-title{
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 5px;
		letter-spacing: 0.2em;
	}
	.singlebody-wrapper-content-author-social-wrap-icons-link{
		text-decoration: none;
	}
	.singlebody-wrapper-content-author-social-wrap-icons-link-image{
		width: 25px;
	}
	.singlebody-wrapper-content-topics{
		margin-top: 40px;
	}
	.singlebody-wrapper-content-topics-title{
		font-size: 14px;
		text-transform: uppercase;
		color: $flamingo;
		display: inline-block;
		&:after{
			content: ': ';
			display: inline-block;
		}
	}
	.singlebody-wrapper-content-topics-cats{
		list-style: none;
		padding: 0px 0px 0px 5px;
		margin: 0px;
		display: inline-block;
		font-size: 0px;
	}
	.singlebody-wrapper-content-topics-cats-cat{
		display: inline-block;
		font-size: 14px;
	}
	.singlebody-wrapper-content-topics-cats-cat-link{
		color: black;
		text-decoration: none;
		font-weight: bold;
		text-transform: uppercase;
	}

	.singlebody-wrapper-relatedposts{
		margin-top: 60px;
		margin-bottom: 40px;
	}
	.singlebody-wrapper-relatedposts-title{
		text-align: center;
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-weight: 300;
		font-size: 32px;
		position: relative;
		&:after{
			content: '';
			display: block;
			width: 70%;
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			border-bottom: 1px solid $flamingo;
		}
	}
	.singlebody-wrapper-relatedposts-posts{
		list-style: none;
		padding: 20px 0px;
	}
	.singlebody-wrapper-relatedposts-posts-post{
		display: flex;
		padding-bottom: 10px;
		margin-bottom: 30px;
		position: relative;
		align-items: flex-start;
		&:after{
			content: '';
			display: block;
			width: 70%;
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
			border-bottom: 1px solid $flamingo;
		}
	}
	.singlebody-wrapper-relatedposts-posts-post-text{
		width: calc(200% / 3);
		padding-right: 10px;
	}
	.singlebody-wrapper-relatedposts-posts-post-text-title{
		font-size: 22px;
		line-height: 1.1;
		letter-spacing: -0.025em;
		font-weight: 300;
		color: black;
		text-decoration: none;
	}
	.singlebody-wrapper-relatedposts-posts-post-text-author{
		font-size: 12px;
		text-transform: uppercase;
		margin-top: 4px;
		display: block;
		text-decoration: none;
		color: black;
	}
	.singlebody-wrapper-relatedposts-posts-post-imagelink{
		width: calc(100% / 3);
	}
}

@media only screen and (min-width: $medium){
	.singlehead-wrapper{
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.singlehead-wrapper-title{
		margin-top: 60px;
	}
	.singlebody-wrapper{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-direction: row;
		margin-bottom: 80px;
	}
	.singlebody-wrapper-content{
		width: 100%;
		margin-top: 58px;
		padding-right: 40px;
		&:before{
			width: calc(100% - 40px);
		}
	}
	.singlebody-wrapper-relatedposts{
		width: 50%;
		margin-top: 0px;
	}
	.singlebody-wrapper-content-author{
		flex-wrap: nowrap;
		align-items: center;
	}
	.singlebody-wrapper-content-author-image,
	.singlebody-wrapper-content-author-social{
		width: calc(100% / 3);
	}
	.singlebody-wrapper-content-author-bio{
		width: calc(200% / 3);
	}
	.singlebody-wrapper-content-author-social{
		border-left: 1px solid $flamingo;
		margin-left: 20px;
		padding-left: 20px;
	}
}
@media only screen and (min-width: $large){
	.singlehead-wrapper-title{
		font-size: 68px;
		margin-top: 80px;
	}
	.singlehead-wrapper-excerpt{
		font-size: 28px;
		font-weight: bold;
	}
}












































