@media only screen {
	.single-mc_casestudy{
		.main-content{
			padding: 20px;
		}
		.main-content-content{
			p{
				margin: 5px 0px 15px 0px;
			}
		}
		.main-content-content-masonry{
			z-index: 10;
			position: relative;
			&.hasmobilequotes{
				.main-content-content-masonry-quotes{
					display: none;
				}
			}
		}
	}
	.casestudyhero{
		text-align: center;
		padding: 20px;
		margin: 0 auto;
		max-width: $xlarge;
	}
	.casestudyhero-title{
		margin: 40px 0px 20px 0px;
		font-weight: 300;
		font-size: 40px;
	}
	.casestudyhero-subtitle{
		margin: 20px 0px 40px 0px;
	}
	.casestudyhero-heroimage{
		margin-top: 20px;
		width: 100%;
	}
	.main-content-content-masonry-item{
		margin-bottom: 20px;
	}
	.main-content-content-masonry-item-quotes,
	.main-content-content-masonry-quotes,
	.main-content-quotes{
		margin: 60px auto 60px auto;
		padding: 20px;
		position: relative;
		border: 1px solid $flamingo;
		width: calc(100% - 40px);
		z-index: 40;
	}

	.main-content-content-masonry-item-quotes-mark,
	.main-content-content-masonry-quotes-mark,
	.main-content-quotes-mark{
		position: absolute;
		top: -40px;
		left: 10px;
		max-width: 60px;
	}

	.main-content-quotes-quote,
	.main-content-content-masonry-item-quotes-quote,
	.main-content-content-masonry-quotes-quote{
		font-size: 18px;
		font-weight: 300;
		line-height: 28px;
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 30px;
		&:not(:first-of-type){
			.main-content-content-masonry-item-quotes-quote-text,
			.main-content-content-masonry-quotes-quote-text,
			.main-content-quotes-quote-text{
				&:before{
					content: '"';
					display: inline;
				}
				&:after{
					content: '"';
					display: inline;
				}
			}
		}
		&:first-of-type{
			.main-content-content-masonry-item-quotes-quote-text,
			.main-content-content-masonry-quotes-quote-text,
			.main-content-quotes-quote-text{
				&:after{
					content: '"';
					display: inline;
				}
			}
		}
		&:not(:last-of-type){
			&:after{
				content: '';
				position: absolute;
				bottom: 0px;
				left: -30px;
				border-bottom: 1px solid $flamingo;
				width: 60%;
			}
		}
		&:last-of-type{
			padding-bottom: 0px;
		}
	}
	.main-content-content-masonry-item-quotes-quote-author,
	.main-content-content-masonry-quotes-quote-author,
	.main-content-quotes-quote-author{
		margin-left: 20px;
		margin-top: 10px;
		&:before{
			content: '\02013'; // endash
			display: inline;
		}
	}
	.main-content-content-masonry-quotes-quote:not(:last-of-type):after{
		// left: 0px;
	}
	.main-content-content-masonry-item-quotes,
	.main-content-content-masonry-quotes{
		margin: 40px 0px;
	}
	.main-content-content-masonry-item-quotes{
		margin-top: 60px;
	}
	.main-content-backlink{
		color: black;
		font-size: 20px;
		font-weight: 300;
		margin-top: 40px;
		text-decoration: none;
		display: inline-block;
	}
}

@media only screen and (min-width: $small){
}

@media only screen and (min-width: $medium){
	.main-content{
		font-size: 0;
	}
	.main-content-content,
	.main-content-quotes{
		font-size: 16px;
		display: inline-block;
		vertical-align: top;
	}
	.main-content-quotes{
		width: 40%;
		margin: 40px 0px 40px 40px;
	}
	.main-content-content{
		width: calc(60% - 40px);
		&.masonry{
			width: 100%;
		}
		margin: 40px 0px 40px 0px;
		div.fullwrap{
			margin-left: calc(calc(-100% / 3) - 20px);
			margin-right: calc(calc(-100% / 3) - 10px);
			position: relative;
			left: calc(calc(100% / 3) + 20px);
		}
	}
	.single-mc_casestudy{
		.main-content-content-masonry{
			&.hasmobilequotes{
				.main-content-content-masonry-quotes{
					display: inline-block;
				}
			}
		}
	}
	.main-content-content-masonry{
		font-size: 0;
		position: relative;
		margin: 0 -20px;
	}
	.main-content-content-masonry-item{
		width: calc(50% - 20px);
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 20px;
		font-size: 16px;
	}
	.main-content-content-masonry-item-quotes{
		display: none;
	}
	.main-content-content-masonry-quotes{
		display: inline-block;
		position: absolute;
		font-size: 16px;
		right: 0px;
		margin-left: 40px;
		margin-right: 20px;
		width: calc(50% - 60px);
	}
	.casestudyhero-title{
		font-size: 60px;
		margin: 80px 0px 20px 0px;
	}
	.casestudyhero-subtitle{
		font-size: 24px;
		margin: 20px 0px 80px 0px;
	}
}
@media only screen and (min-width: $large){
	.casestudyhero-title{
		font-size: 70px;
	}
}
