@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-Regular.woff2') format('woff2'),
        url('../../lib/fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    // font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-Medium.woff2') format('woff2'),
        url('../../lib/fonts/Lato-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-Bold.woff2') format('woff2'),
        url('../../lib/fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-Heavy.woff2') format('woff2'),
        url('../../lib/fonts/Lato-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-Light.woff2') format('woff2'),
        url('../../lib/fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-SemiBold.woff2') format('woff2'),
        url('../../lib/fonts/Lato-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-LightItalic.woff2') format('woff2'),
        url('../../lib/fonts/Lato-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../../lib/fonts/Lato-Black.woff2') format('woff2'),
        url('../../lib/fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

$main_font: 'Lato', 'Helvetica', Verdana, Arial, sans-serif;