@keyframes fadeinout {
	0% {
		opacity: 0;
		visibility: visible;
	}
	10% {
		opacity: 0;
		visibility: visible;
	}
	32.5% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		visibility: none;
	}
	100% {
		opacity: 0;
		visibility: none;
	}
}
@keyframes fadeinout2 {
	0% {
		opacity: 0;
		visibility: visible;
	}
	20% {
		opacity: 1;
	}
	50% {
		opacity: 0;
		visibility: none;
	}
	100% {
		opacity: 0;
		visibility: none;
	}
}
@keyframes blurin{
	0% {
		color: transparent;
		text-shadow: 0px 0px 65px white;
		transform: scale(1.7);
		opacity: 0;
	}
	15%{
		color: white;
		opacity: 1;
		text-shadow: none;
		transform: scale(1);
	}
	40%{
		color: white;
	}
	60%{
		color: $java;
	}
	85%{
		opacity: 1;
		text-shadow: none;
		transform: scale(1);
	}
	100%{
		color: transparent;
		text-shadow: 0px 0px 45px white;
		transform: scale(1);
		opacity: 0;
	}
}