$hamburger-layer-color         : #fff !default;
$hamburger-hover-opacity       : 1 !default;

@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";

@import "../node_modules/aos/src/sass/aos";

@import "../node_modules/swiper/swiper";
@import "../node_modules/swiper/components/navigation/navigation";

@import "mixins";
@import "var/breakpoints";
@import "var/colors";
@import "var/fonts";
@import "var/keyframes";

// reset
@media only screen {
    html,body{
        width: 100%;
        text-rendering: optimizeLegibility !important;
        @include font-smoothing(true);
    }
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        box-sizing: border-box;
        outline-width: 0;
        &:focus{
            outline-width: 0;
        }
    }
    html{
        font-size: 62.5%; // base 10 for fonts
        font-family: $main_font;
        height: 100%;
        box-sizing: border-box;
    }
    body{
        font-size: 1.6rem;
        min-height: 100%;
        position: relative;
        box-sizing: inherit;
        font-family: $main_font;
    }
    // Prevents oversized images from breaking layout
    img {
        max-width: 100%;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }

    p {
        margin-bottom: 12px;
    }

    ul, ol {
        padding-left: 24px;
        margin-bottom: 12px;
        margin-top: 0;
        line-height: 24px;
    }

    .main{
        position: relative;
        z-index: 40;
        background-color: white;
    }
    .main-content{
        width: 100%;
        margin: 0 auto;
        max-width: $xlarge;
        position: relative;
        z-index: 40;
        padding: 40px 0px;
    }
    .section{
        position: relative;
        z-index: 40;
    }
    .section-wrapper{
        padding: 20px 20px;
        margin: 0 auto;
        max-width: $large;
        overflow: hidden;
    }
    .section-wrapper--xxlarge{
        padding: 20px 20px;
        margin: 0 auto;
        max-width: $xxlarge;
        overflow: hidden;
    }
    .section-wrapper-title{
        color: $flamingo;
        text-align: center;
        font-weight: 400;
        font-size: 40px;
        margin: 40px 0px;
        &--caps{
            text-transform: uppercase;
            font-size: 29px;
            letter-spacing: 8px;
        }
    }

    .cta-button{
        display: inline-block;
        padding: 10px 20px;
        text-transform: uppercase;
        border: 2px solid black;
        text-decoration: none;
        transition: background-color 0.25s ease, color 0.25s ease;
        margin: 10px 0px;
        &:hover{
            background-color: black;
            color: white;
        }
    }

    [data-aos="move-left--keepskew"]{
        transition-property: all;
        left: -105px !important;
        &.aos-animate{
            left: -15px !important;
        }
    }
    [data-aos="rotate-left"]{
        transition-property: transform;
        transform: rotate(90deg);
        transform: rotate3d(0, 0, 1, 90deg);
        position: relative;
        z-index: 1;
        &.aos-animate{
            transform: rotate(0deg);
            transform: rotate3d(0, 0, 1, 0deg);
            z-index: 1;
        }
    }
    img[class*="align"],
    img[class*="wp-image-"] {
        height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
    }
    img.size-full {
        width: auto; /* Prevent stretching of full-size images with height and >>width attributes in IE8 */
    }
}
@media only screen and (min-width: $medium){
    .section-wrapper-title{
        font-size: 40px;
        letter-spacing: 7px;
        &--caps{
            font-size: 26px;
        }
    }
}

@media only screen and (min-width: $large){
    .section-wrapper-title{
        font-size: 68px;
        letter-spacing: 12px;
        font-weight: 300;
        &--caps{
            font-size: 45px;
        }
    }
    .section-wrapper{
        padding: 40px 40px;
    }
}

// partials
@import "partials/ribbon";
@import "partials/module.Banner";
@import "partials/hero.Main";
@import "partials/bg.Parallax";
@import "partials/module.WYSIWYG";
@import "partials/grid.StaggeredList";
@import "partials/grid.ImageList";
@import "partials/grid.ImageText";
@import "partials/mflip";
@import "partials/module.ImageShowcase";
@import "partials/grid.HRList";
@import "partials/grid.TextList";
@import "partials/grid.Dynamic";
@import "partials/grid.PostHighlights";
@import "partials/grid.WindowPane";
@import "partials/module.StretchToFold";
@import "partials/module.BracketText";
@import "partials/grid.AdaptiveTwoColumn";
@import "partials/module.ImageList";
@import "partials/module.SinglePost";

// components
@import "components/nav.Main";
@import "components/nav.CaseStudy";
@import "components/nav.Footer";
@import "components/grid.CaseStudy";
@import "components/grid.Social";
@import "components/grid.Team";
@import "components/module.Accordion";
@import "components/form.Contact";
@import "components/module.Slider";
@import "components/slider.News";

// pages
@import "pages/single.CaseStudy";
@import "pages/single.Post";
@import "pages/archive.Post";













