@media only screen {
	.contactform{
		text-align: center;
		max-width: $small;
		margin: 0 auto;
	}
	.contactform-header{
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding: 20px 20px 0px 20px;
	}
	.contactform-form{
		margin-top: 20px;
		padding: 20px;
		br{
			display: none;
		}
		textarea{
			margin: 0px 0px 20px 0px;
			min-height: 100px;
		}
	}
	.contactform-form-input{
		width: 100%;
		display: block;
		background: none;
		border: 0px;
		color: black;
		padding: 5px 0px;
		font-size: 15px;
		border-bottom: 2px solid rgba(#767676, 0.15);
		box-sizing: border-box;
		transition: border-color 0.25s ease;
		margin-bottom: 16px;
		font-family: $main_font;
		&:active,
		&:focus{
			border-bottom-color: $flamingo;
		}
	}
	.contactform-form-submit{
		background: none;
		border: 0px;
		font-family: $main_font;
		font-size: 15px;
		margin-left: auto;
		text-transform: uppercase;
		letter-spacing: 2px;
		width: auto;
		display: block;
		transition: color 0.25s ease;
		cursor: pointer;
		&:hover{
			color: $flamingo;
		}
	}
	.contactform-bracket{
		border: 1px solid black;
		height: 2px;
		width: 100%;
		margin: 0 auto;
		position: relative;
		&--top{
			&:before{
				content: '';
				position: absolute;
				transform: rotate(90deg);
				border: 1px solid black;
				width: 40px;
				bottom: 0px;
				left: 0px;
				transform-origin: left;
			}
			&:after{
				content: '';
				position: absolute;
				transform: rotate(-90deg);
				border: 1px solid black;
				width: 40px;
				top: 0px;
				right: 0px;
				transform-origin: right;
			}
		}
		&--bottom{
			&:before{
				content: '';
				position: absolute;
				transform: rotate(-90deg);
				border: 1px solid black;
				width: 40px;
				top: 0px;
				left: 0px;
				transform-origin: left;
			}
			&:after{
				content: '';
				position: absolute;
				transform: rotate(90deg);
				border: 1px solid black;
				width: 40px;
				bottom: 0px;
				right: 0px;
				transform-origin: right;
			}
		}
	}
	.contactform-message{
		text-align: center;
		border-bottom: 2px solid black;
		display: inline-block;
		padding: 5px 10px;
		margin: 50px 0px;
		&--2{
			background-color: #95e295;
			border-color: #5b925b;
		}
		&--1{
			background-color: #e2d695;
			border-color: #b89632;
		}
		&--0{
			background-color: #e29595;
			border-color: #b83232;
		}
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	.contactform-header{
		font-size: 20px;
	}
}

@media only screen and (min-width: $large){
	
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
