@media only screen {
	.teamgrid{
		z-index: 41;
	}
	.teamgrid-wrapper{
		overflow: visible;
	}
	.teamgrid-wrapper-users-user{
		margin-bottom: 20px;
	}
	.teamgrid-wrapper-users-user-reveal{
		padding-bottom: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.teamgrid-wrapper-users-user-text{
		padding: 10px 0px;
	}
	.teamgrid-wrapper-users-user-text-name{
		font-size: 20px;
		border-bottom: 2px solid $flamingo;
		padding-bottom: 5px;
	}
	.teamgrid-wrapper-users-user-text-jobtitle{
		font-size: 14px;
		font-weight: bold;
	}
	.teamgrid-wrapper-users-user-text-description{
		font-size: 16px;
		margin-top: 15px;
	}
	.teamgrid-wrapper-users-user-text-name,
	.teamgrid-wrapper-users-user-text-jobtitle,
	.teamgrid-wrapper-users-user-text-description{
		margin-bottom: 5px;
	}
	.teamgrid-wrapper-users-user-text-social{
		text-align: right;
		margin: 20px 10px 10px 10px;
	}
	.teamgrid-wrapper-users-user-text-social-link{
		display: inline-block;
		margin-left: 12px;
	}
	.teamgrid-wrapper-users-user-text-social-link-image{
		max-width: 20px;
		filter: invert(100%);
		display: block;
	}
}

@media only screen and (min-width: $small){
	.teamgrid-wrapper-users{
		font-size: 0;
	}
	.teamgrid-wrapper-users-user{
		display: inline-block;
		width: calc(50% - 20px);
		vertical-align: top;
		&:nth-child(odd){
			margin-right: 10px;
		}
		&:nth-child(even){
			margin-left: 10px;
		}
	}
}

@media only screen and (min-width: $medium){
	.teamgrid-wrapper-users-user{
		width: calc(calc(100% / 3) - 10px);
		&:nth-child(odd){
			margin-right: 0px;
		}
		&:nth-child(even){
			margin-left: 0px;
		}
		&:nth-child(3n+1){
			margin-right: 10px;
		}
		&:nth-child(3n+2){
			margin-left: 5px;
			margin-right: 5px;
		}
		&:nth-child(3n+3){
			margin-left: 10px;
		}
	}
}

@media only screen and (min-width: $large){
	.teamgrid{
		padding-bottom: 150px;
	}
	.teamgrid-wrapper-users-user{
		position: relative;
		// box-shadow: 0px 5px 15px rgba(0,0,0,0.0);
		// transition: box-shadow 0.25s ease;
		// &[data-aos^="fade"][data-aos^="fade"]{
		// 	transition-property: opacity, transform, box-shadow;
		// }
		&:hover{
			// box-shadow: 0px 5px 15px rgba(0,0,0,0.7);
			z-index: 20;
			.teamgrid-wrapper-users-user-closed{
				opacity: 0;
			}
			.teamgrid-wrapper-users-user-text{
				top: 100%;
				opacity: 1;
				// box-shadow: 0px 5px 15px rgba(0,0,0,0.7);
				visibility: visible;
			}
		}
	}
	.teamgrid-wrapper-users-user-text{
		background-color: white;
		position: absolute;
		opacity: 0;
		top: 0px;
		transition: opacity 0.25s ease, top 0.25s ease, box-shadow 0.25s ease;
		width: 100%;
		left: 0px;
		visibility: hidden;
	}
	.teamgrid-wrapper-users-user-text-name,
	.teamgrid-wrapper-users-user-text-jobtitle,
	.teamgrid-wrapper-users-user-text-description{
		padding: 0px 10px;
	}
	.teamgrid-wrapper-users-user-text-name{
		padding-bottom: 5px;
	}
	.teamgrid-wrapper-users-user-closed{
		position: absolute;
		z-index: 20;
		width: 100%;
		padding-bottom: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		transition: opacity 0.4s ease;
	}
}