@media only screen {
	.casestudygrid-wrapper-aside:last-child{
		.casestudygrid-wrapper-aside-post:last-child{
			border-bottom: none;
		}
	}
	.casestudygrid-wrapper-aside-post{
		text-decoration: none;
		color: black;
		display: block;
		margin: 20px;
		border-bottom: 1px solid lightgray;
	}
	.casestudygrid-wrapper-aside-post-text-title{
		margin: 10px 0px;
		font-size: 25px;
	}
	.casestudygrid-wrapper-aside-post-text-title,
	.casestudygrid-wrapper-aside-post-text-subtitle{
		color: $gray;
		text-align: center;
	}
	.casestudygrid-wrapper-aside-post-text-subtitle{
		font-size: 15px;
		font-weight: 900;
		margin-bottom: 10px;
	}

	.casestudygrid-wrapper-grid{
		max-width: $large;
		margin: 0 auto;
	}

	.casestudygrid-wrapper-grid-item{
		position: relative;
		margin-bottom: 20px;
		padding: 20px 0px 100% 0px;
		text-decoration: none;
	}
	.casestudygrid-wrapper-grid-item-text{
		position: absolute;
		z-index: 30;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
	}
	.casestudygrid-wrapper-grid-item-title{
		display: none;
	}
	.casestudygrid-wrapper-grid-item-text-logocontainer{
		padding: 20px;
		width: 100%;
	}
	.casestudygrid-wrapper-grid-item-text-logocontainer-logo{
		max-width: 240px;
		max-height: 40px;
		display: block;
		margin: 0 auto;
	}
	.casestudygrid-wrapper-grid-item-text-excerpt{
		color: white;
		text-align: center;
		padding: 20px;
		font-size: 13px;
	}
	.casestudygrid-wrapper-grid-item-text-link{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		color: white;
		background-color: transparent;
		border: 1px solid white;
		display: inline-block;
		padding: 10px 20px;
		text-transform: uppercase;
		text-decoration: none;
		margin-bottom: 20px;
		font-size: 16px;
		transition: background-color 0.25s ease, color 0.25s ease;
		&:hover{
			color: $pelorous;
			background-color: white;
		}
	}
	.casestudygrid-wrapper-grid-item-fade{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.7);
		z-index: 25;
		pointer-events: none;
	}
	.casestudygrid-wrapper-grid-item-bgimage{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: 20;
	}
	.casestudygrid-wrapper-seemore{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 20px;
		text-transform: uppercase;
		border: 3px solid black;
		letter-spacing: 2px;
		font-size: 20px;
		margin: 40px 0px;
		font-weight: 600;
		cursor: pointer;
		transition: color 0.25s ease, background-color 0.25s ease;
		&:hover{
			color: white;
			background-color: black;
		}
	}
}

@media only screen and (min-width: $small){
	.casestudygrid-wrapper-grid{
		font-size: 0;
	}
	.casestudygrid-wrapper-grid-item{
		display: inline-block;
		width: 50%;
		margin-bottom: 0px;
		vertical-align: top;
		padding: 20px 0px 50% 0px;
	}
}

@media only screen and (min-width: $medium){
	.casestudygrid-wrapper-aside{
		font-size: 0;
	}
	.casestudygrid-wrapper-aside-post{
		border-bottom: none;
		display: inline-block;
		margin: 10px;
		width: calc(50% - 20px);
		vertical-align: top;
		&:last-child{
			position: relative;
			width: calc(100% - 20px);
		}
	}
	.casestudygrid-wrapper-aside-post-imagecontainer{
		height: 200px;
		position: relative;
		overflow: hidden;
	}
	.casestudygrid-wrapper-aside-post-imagecontainer-image{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
		min-height: 100%;
		min-width: 100%;
	}
	.casestudygrid-wrapper-aside-post-text-title{
		margin-bottom: 0px;
		font-size: 30px;
	}

}

@media only screen and (min-width: $large){
	.casestudygrid-wrapper-aside{
		width: 85%;
		margin-bottom: 120px;
		&:nth-child(even){
			margin-left: auto;
		}
	}
	.casestudygrid-wrapper-aside-post{
		&:last-child{
			// .casestudygrid-wrapper-aside-post-text{
			// 	position: absolute;
			// 	bottom: 0px;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	width: 100%;
			// }
			// .casestudygrid-wrapper-aside-post-text-title{
			// 	color: white;
			// 	font-size: 50px;
			// 	width: 100%;
			// }
			// .casestudygrid-wrapper-aside-post-text-subtitle{
			// 	position: absolute;
			// 	left: 50%;
			// 	transform: translateX(-50%);
			// 	font-size: 20px;
			// 	width: 100%;
			// }
		}
	}
	.casestudygrid-wrapper-aside-post-text-title{
		font-size: 34px;
	}

	.casestudygrid-wrapper-grid-item{
		padding: 0px;
		min-height: 496px;
		pointer-events: all;
		&:hover{
			.casestudygrid-wrapper-grid-item-text-logocontainer{
				opacity: 1;
			}
			.casestudygrid-wrapper-grid-item-text-link,
			.casestudygrid-wrapper-grid-item-text-excerpt,
			.casestudygrid-wrapper-grid-item-fade{
				opacity: 1;
			}
		}
	}
	.casestudygrid-wrapper-grid-item-fade{
		opacity: 0;
		transition: opacity 0.4s ease;
		background-color: $pelorous;
	}
	.casestudygrid-wrapper-grid-item-titlecontainer{
		font-size: 44px;
		z-index: 23;
		color: white;
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		padding: 10px;
		display: block;
		font-weight: 700;
		line-height: 1;
	}
	.casestudygrid-wrapper-grid-item-titlecontainer-title{
		max-width: 80%;
		margin: 0 auto;
	}
	.casestudygrid-wrapper-grid-item-text-link,
	.casestudygrid-wrapper-grid-item-text-excerpt{
		opacity: 0;
		transition: opacity 0.4s ease;
	}
	.casestudygrid-wrapper-grid-item-text-excerpt{
		font-size: 16px;
		padding-bottom: 50px;
	}
	.casestudygrid-wrapper-grid-item-text-link{
		display: inline-block;
		transition: opacity 0.4s ease, color 0.25s ease, background-color 0.25s ease;
	}

	.casestudygrid-wrapper-grid-item-text-logocontainer{
		transition: opacity 0.4s ease;
		position: relative;
		padding-top: 20px;
		opacity: 0;
	}
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
