@media only screen {
	.socialgrid-wrapper{
		padding-bottom: 80px;
	}
	.socialgrid-wrapper-title{
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 2px;
	}
	.socialgrid-wrapper-posts{
		background-color: white;
		padding: 20px;
		margin-top: 40px;
	}
	.socialgrid-wrapper-posts-post{
		display: block;
		text-decoration: none;
		color: white;
		width: 100%;
		background-size: cover;
		background-position: center center;
		margin-bottom: 20px;
		&:after{
			padding-bottom: 100%;
			content: '';
			display: block;
		}
	}
	.socialgrid-wrapper-posts-post-text{
		position: absolute;
		opacity: 0;
		transition: background-color 0.4s ease;
		background-color: transparent;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	.socialgrid-wrapper-title{
		font-size: 40px;
	}
	.socialgrid-wrapper-posts{
		font-size: 0px;
		padding: 20px;
	}
	.socialgrid-wrapper-posts-post{
		display: inline-block;
		width: calc(calc(100% / 3) - 10px);
		margin-bottom: 0px;
		&:nth-child(1){
			margin-right: 10px;
		}
		&:nth-child(2){
			margin: 0px 5px;
		}
		&:nth-child(3){
			margin-left: 10px;
		}
	}
}

@media only screen and (min-width: $large){
	.socialgrid-wrapper-posts-post{
		position: relative;
		overflow: hidden;
		&:hover{
			.socialgrid-wrapper-posts-post-text,
			.socialgrid-wrapper-posts-post-tint{
				opacity: 1;
			}
			.socialgrid-wrapper-posts-post-text{
				transform: translateY(0);
			}
		}
	}
	.socialgrid-wrapper-posts-post-tint{
		background: linear-gradient(to bottom, rgba($pelorous, 0.62), $pelorous);
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		top: 0px;
		left: 0px;
		opacity: 0;
		transition: opacity 0.4s ease;
	}
	.socialgrid-wrapper-posts-post-text{
		opacity: 0;
		font-size: 16px;
		bottom: 0px;
		padding: 8px;
		position: absolute;
		z-index: 5;
		transition: opacity 0.4s ease, transform 0.4s ease;
		transform: translateY(100%);
	}
	.socialgrid-wrapper-posts-post-text-header-likes{
		padding-right: 5px;
	}
	.socialgrid-wrapper-posts-post-text-header-date{
		padding-right: 5px;
	}
	.socialgrid-wrapper-posts-post-text-header-likes,
	.socialgrid-wrapper-posts-post-text-header-comments,
	.socialgrid-wrapper-posts-post-text-header-date{
		font-size: 12px;
		display: inline-block;
		vertical-align: bottom;
	}
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xxlarge){
	
}
