@media only screen {
	.accordion-wrapper{
		overflow: visible;
	}
	.accordion-wrapper-title{
		margin-bottom: 100px;
	}
	.accordion-wrapper-row{
		text-align: center;
		display: block;
		margin: 40px auto;
	}
	.accordion-wrapper-row-title{
		text-transform: uppercase;
		margin-bottom: 40px;
		position: relative;
		&:after{
			border-bottom: 3px solid $flamingo;
			content: '';
			width: 80%;
			display: block;
			margin: 0 auto;
			position: absolute;
			bottom: -10px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.accordion-wrapper-row-subtitle{
		font-weight: 400;
	}
	.accordion-wrapper-row-togglecontainer{
		text-align: center;
	}
	.accordion-wrapper-row-togglecontainer-toggle{
		font-style: normal;
		font-size: 30px;
		transform: rotate(45deg);
		display: inline-block;
		cursor: pointer;
		transition: transform 0.1s ease;
		&.active{
			transform: rotate(0deg);
		}
	}
	.accordion-wrapper-row-content{
		display: none;
		background-color: $white_smoke;
		padding: 20px;
		margin-top: 20px;
		position: relative;
		overflow: visible;
		text-align: left;
	}
	.accordion-wrapper-row-content-angle{
		content: '';
		width: 0px;
		height: 0px;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-style: solid;
		border-width: 0 20px 20px 20px;
		border-color: transparent transparent $white_smoke;
	}
}
@media only screen and (min-width: $medium){
	.accordion-wrapper-row{
		max-width: 70%;
	}
	.accordion-wrapper-row-title{
		font-size: 30px;
		letter-spacing: 4px;
	}
	.accordion-wrapper-row-content{
		margin-left: -20%;
		margin-right: -20%;
		columns: 2;
		column-fill: balance;
	}
}
@media only screen and (min-width: $large){
	.accordion-wrapper-row{
		max-width: $medium;
	}
	.accordion-wrapper-row-content{
		margin-left: -10%;
		margin-right: -10%;
	}
}
@media only screen and (min-width: $xxlarge){
	.accordion-wrapper-row-content{
		// margin-left: -33%;
		// margin-right: -33%;
	}
}