@media only screen {
	.slidermodule{
		padding: 50px 0px;
	}
	.slidermodule-wrapper{
		position: relative;
	}
	.slidermodule-wrapper-container{
		padding: 40px 20px;
	}
	.slidermodule-wrapper-container-wrapper-slide{
		align-self: center;
		justify-self: middle;
	}
	.slidermodule-wrapper-container-wrapper-slide-image{
		margin: 0 auto;
		display: block;
	}
	.slidermodule-wrapper-title{
		margin-top: 0px;
	}
	.slidermodule-wrapper-subtitle{
		text-align: center;
		max-width: none;
		margin: 0px auto;
		font-size: 18px;
		line-height: 28px;
		padding-top: 60px;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: calc(100% + 40px);
	}
	.slidermodule-wrapper-bracket{
		border-bottom: 3px solid black;
		position: absolute;
		width: calc(100% - 40px);
		&--top{
			&:before{
				content: '';
				height: 40px;
				border-left: 3px solid black;
				position: absolute;
				left: 0px;
			}
			&:after{
				content: '';
				height: 40px;
				border-left: 3px solid black;
				position: absolute;
				right: 0px;
			}
		}
		&--bottom{
			&:before{
				content: '';
				height: 40px;
				border-left: 3px solid black;
				position: absolute;
				left: 0px;
				bottom: 0px;
			}
			&:after{
				content: '';
				height: 40px;
				border-left: 3px solid black;
				position: absolute;
				right: 0px;
				bottom: 0px;
			}
		}
	}
}

@media only screen and (min-width: $large){
	.slidermodule{
		padding: 100px 0px;
	}
	.slidermodule-wrapper-container{
		padding: 80px 0px;
	}
	.slidermodule-wrapper-bracket{
		max-width: calc(100% - 80px);
	}
	.slidermodule-wrapper-subtitle{
		width: calc(100% + 80px);
	}
}
