@media only screen {
	.casestudynav-wrapper{
		padding: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.casestudynav-wrapper-methodlink{
		padding-right: 20px;
	}
	.casestudynav-wrapper-logocontainer{
		padding-left: 20px;
	}
	.casestudynav-wrapper-center{
		display: none;
	}
}

@media only screen and (min-width: $small){
	.casestudynav-wrapper{

	}
	.casestudynav-wrapper-center,
	.casestudynav-wrapper-logocontainer,
	.casestudynav-wrapper-methodlink{
		width: calc(100% / 3);
	}
	.casestudynav-wrapper-center{
		display: block;
		text-align: center;
		font-weight: 300;
		font-size: 18px;
	}
	.casestudynav-wrapper-logocontainer{
		text-align: right;
	}
	.casestudynav-wrapper-logocontainer-logo,
	.casestudynav-wrapper-methodlink-svg{
		max-width: 150px;
	}
}

@media only screen and (min-width: $medium){
}
@media only screen and (min-width: $large){
	
}
