@media only screen {
	.mainnav{
		position: absolute;
		width: 100%;
		top: 0px;
		left: 0px;
		height: 100%;
	}
	.mainnav-wrapper{
		padding: 20px;
		font-size: 0;
		ul{
			list-style: none;
			padding: 0px;
			margin: 0px;
		}
		li{
			line-height: 0px;
		}
	}
	.mainnav-wrapper-logo,
	.mainnav-wrapper-toggle{
		z-index: 50;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
	}
	.mainnav-wrapper-menu{
		pointer-events: none;
	}
	.mainnav-wrapper-toggle.is-active{
		& ~ .mainnav-wrapper-menu{
			pointer-events: all;
		}
	}
	.mainnav-wrapper-logo{
		width: 45%;
	}
	.mainnav-wrapper-logo-svg{
		max-width: 200px;
		path{
			fill: #fff;
		}
	}
	.mainnav-wrapper-menu{
		position: absolute;
		z-index: 50;
		font-size: 16px;
		color: white;
		text-align: right;
		top: 80px;
	    left: 50%;
	    transform: translate(-50%, 0%);
	    line-height: 0px;
		width: 100%;
	}
	.mainnav-wrapper-menu-item,
	.mainnav-wrapper-menu-item-submenu-item{
		display: block;
	}
	.mainnav-wrapper-menu-item-link{
		&[href="#"]{
			display: none;
		}
	}
	.mainnav-wrapper-menu-item-link,
	.mainnav-wrapper-menu-item-submenu-item-link{
		color: transparent;
		text-decoration: none;
		display: inline-block;
		font-size: 30px;
		padding: 6px 20px;
		line-height: 36px;
		opacity: 0;
		text-shadow: 0 0 15px rgba(255,255,255,1);
		transition: color 1.2s ease, transform 0.6s ease, text-shadow 1.2s ease, opacity 1.2s ease;
		transform: translateY(-50%);
		pointer-events: none;
	}

	.mainnav-wrapper-toggle{
		width: 55%;
		&.is-active {
			~.mainnav-wrapper-menu{
				.mainnav-wrapper-menu-item-link,
				.mainnav-wrapper-menu-item-submenu-item-link{
					color: white;
					transform: translateY(0%);
					text-shadow: 0 0 5px rgba(255,255,255,0.0);
					opacity: 1;
					pointer-events: all;
				}
			}
			~.mainnav-wrapper-tint{
				opacity: 1;
			}
		}
		.hamburger {
			float: right;
			outline: none;
			padding-right: 0px;
			*{
				pointer-events: none;
			}
		}
	}
	.mainnav-wrapper-tint{
		background: rgba(0,0,0,0.9);
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 45;
		opacity: 0;
		transition: opacity 0.4s ease;
		pointer-events: none;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	.mainnav-wrapper{
		padding: 20px 40px;
	}
	.mainnav-wrapper-toggle{
		display: none;
	}
	.mainnav-wrapper-logo{
		width: 25%;
	}
	.mainnav-wrapper-menu{
		width: 75%;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		left: 0px;
		top: 0px;
		transform: translate(0,0);
	}
	.mainnav-wrapper-menu-item{
		display: inline-block;
		position: relative;
		&:last-child .mainnav-wrapper-menu-item-link{
			padding-right: 0px;
		}
	}
	.mainnav-wrapper-menu-item,
	.mainnav-wrapper-menu-item-submenu-item{
		padding: 0;
	}
	.mainnav-wrapper-menu-item-submenu-item{
		&:last-of-type{
			.mainnav-wrapper-menu-item-submenu-item-link{
				border-bottom: 1px solid white;
			}
		}
	}
	.mainnav-wrapper-menu-item-submenu-item-link{
		border-top: 1px solid white;
		border-left: 1px solid white;
		border-right: 1px solid white;
		transition: background-color 0.25s ease;
	}
	.mainnav-wrapper-menu-item-link,
	.mainnav-wrapper-menu-item-submenu-item-link{
		pointer-events: all;
	}
	.mainnav-wrapper-menu-item-submenu{
		position: absolute;
		text-align: center;
		top: 100%;
		left: 50%;
	    min-width: 200px;
	    transform: translateX(-50%);
	    display: none;
	}
	.mainnav-wrapper-menu-item-link,
	.mainnav-wrapper-menu-item-submenu-item-link{
		opacity: 1;
		color: white;
		text-shadow: none;
		font-size: 16px;
		line-height: 24px;
		transform: translateY(0);
		width: 100%;
	}
	.mainnav-wrapper-menu-item-link{
		pointer-events: all;
		position: relative;
		&[href="#"]{
			display: inline-block;
		}
	}
	.mainnav-wrapper-menu-item--hasmenu{
		&:hover{
			.mainnav-wrapper-menu-item-submenu{
				display: block;
			}
		}
	}
	.mainnav-wrapper-menu-item-submenu-item:hover{
		background-color: white;
		.mainnav-wrapper-menu-item-submenu-item-link{
			color: $pelorous;
		}
	}
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
