@media only screen {
	.footer{
		position: relative;
		z-index: 40;
		background-color: $pelorous;
	}
	.footer-wrapper-menu-pagelist,
	.footer-wrapper-menu-sociallist{
		list-style: none;
		padding: 0px;
	}
	.footer-wrapper{
		padding: 20px;
	}
	.footer-wrapper-logo{
		> a{
			display: block;
			width: 55%;
		}
	}
	.footer-wrapper-logo-svg{
		width: 100%;
		path{
			fill: #fff;
		}
	}
	.footer-wrapper-menu{
		font-size: 0;
	}
	.footer-wrapper-menu-pagelist,
	.footer-wrapper-menu-sociallist{
		width: 50%;
		display: inline-block;
		vertical-align: top
	}

	.footer-wrapper-menu-sociallist-item-link,
	.footer-wrapper-menu-pagelist-item-link{
		text-decoration: none;
		color: white;
		font-size: 16px;
	}
	.footer-wrapper-menu-sociallist{
		text-align: right;
	}
	.footer-wrapper-menu-sociallist-item{
		display: inline-block;
		padding-left: 5px;
	}
	.footer-wrapper-menu-sociallist-item-link{
		display: block;
	}
	.footer-wrapper-menu-sociallist-item-link-image{
		max-width: 34px;
	}
	.footer-wrapper-logo-parent{
		text-transform: uppercase;
		text-align: left;
		color: white;
		font-size: 16px;
		font-weight: 300;
		margin: 5px 0px 30px 0px;
		letter-spacing: 3px;
	}
	.footer-wrapper-logo-parent-link{
		text-decoration: none;
		color: white;
		font-weight: bold;
	}
	.footer-wrapper-copyright{
		font-size: 12px;
		color: white;
		opacity: 0.7;
	}
}

@media only screen and (min-width: $small){
	.footer-wrapper{
		font-size: 0;
	}
	.footer-wrapper-menu,
	.footer-wrapper-logo{
		display: inline-block;
		width: 50%;
		margin: 0;
		box-sizing: border-box;
		vertical-align: top;
	}
	.footer-wrapper-logo-svg{
		max-width: 160px;
	}
	.footer-wrapper-menu-pagelist{
		width: 35%;
	}
	.footer-wrapper-menu-sociallist{
		width: 65%;
		margin-left: auto;
		margin-bottom: 0px;
	}
	.footer-wrapper-menu-sociallist-item{
		padding-left: 12px;
	}
	.footer-wrapper-menu-sociallist-item,
	.footer-wrapper-menu-sociallist-item-link,
	.footer-wrapper-menu-sociallist-item-link-image{
		line-height: 0px;
	}
	.footer-wrapper-logo-parent{
		text-align: left;
		margin: 20px 0px;
	}
}

@media only screen and (min-width: $medium){
	.footer-wrapper-logo{
		width: 25%;
	}
	.footer-wrapper-menu{
		width: 75%;
		text-align: right;
	}
	.footer-wrapper-menu-pagelist,
	.footer-wrapper-menu-sociallist{
		width: auto;
	}
	.footer-wrapper-menu-pagelist{
		font-size: 0;
		text-align: right;
	}
	.footer-wrapper-menu-pagelist-item{
		display: inline-block;
		padding-left: 15px;
		padding-top: 5px;
	}
	.footer-wrapper-menu-pagelist-item-link{
		font-size: 18px;
	}
	.footer-wrapper-menu-sociallist{
		padding-left: 20px;
	}
	.footer-wrapper-copyright{
		text-align: right;
	}
}

@media only screen and (min-width: $large){
	.footer-wrapper{
		padding: 20px 40px;
	}
	.footer-wrapper-menu-sociallist{
		padding-left: 40px;
	}
	.footer-wrapper-menu-pagelist-item{
		padding-left: 30px;
	}
}

@media only screen and (min-width: $largeplus){
	.footer-wrapper-logo{
		width: 35%;
		> a,
		.footer-wrapper-logo-parent{
			display: inline-block;
			vertical-align: middle;
		}
		> a{
			width: auto;
		}
		.footer-wrapper-logo-parent{
			width: auto;
			margin-left: 40px;
		}

	}
	.footer-wrapper-menu{
		width: 65%;
	}
}

@media only screen and (min-width: $xlarge){
	
}
