@media only screen {
	.newsslider-wrapper{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.newsslider-wrapper-title{
		color: $flamingo;
		font-size: 29px;
		text-align: center;
		margin-bottom: 20px;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 9px;
	}
	.newsslider-wrapper-slider{
		position: relative;
	}
	.newsslider-wrapper-slider-wrapper-slide{
		cursor: pointer;
	}
	.newsslider-wrapper-slider-wrapper-slide-attribution,
	.newsslider-wrapper-slider-wrapper-slide-imagequote{
		pointer-events: none;
	}
	.newsslider-wrapper-slider-wrapper-slide-attribution{
		width: calc(100% / 3);
		min-height: 50px;
	}
	.newsslider-wrapper-slider-wrapper-slide-imagequote-quote{
		color: white;
		margin: 20px 0px 40px 0px;
		font-size: 29px;
		font-weight: 900;
		padding-top: 20px;
		border-top: 2px solid $flamingo;
	}
	.newsslider-wrapper-slider-buttons{
		position: absolute;
		top: 2%;
		left: 100%;
		display: flex;
		transform: translateX(-100%);
		z-index: 20;
	}
	.newsslider-wrapper-slider-buttons-button{
		color: $flamingo;
		transition: color 0.25s ease;
		position: relative;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: 0;
		height: 30px;
		width: 30px;
		&:after,
		&:before{
			font-size: 30px;
		}
		&:hover{
			color: white;
		}
		&.swiper-button-disabled{
			color: $gray;
		}
		&.swiper-button-prev{
			margin-right: 20px;
		}
	}
}
@media only screen and (min-width: $medium){
	.newsslider-wrapper-title{
		margin: 0px 40px 60px 40px;
	}
	.newsslider-wrapper-slider-buttons{
		top: calc(100% - 34px);
		left: 0px;
		transform: translate(0%, -100%);
	}
	.newsslider-wrapper-slider-wrapper-slide-attribution{
		width: auto;
		font-size: 0;
	}
	.newsslider-wrapper-slider-wrapper-slide-attribution-image{
		width: auto;
		height: 30px;
	}
	.newsslider-wrapper-slider-wrapper-slide-imagequote{
		display: flex;
	}
	.newsslider-wrapper-slider-wrapper-slide-imagequote-quote,
	.newsslider-wrapper-slider-wrapper-slide-imagequote-imagecontainer{
		width: 50%;
	}
	.newsslider-wrapper-slider-wrapper-slide-imagequote-imagecontainer{
		position: relative;
		width: calc(50% - 35px);
		top: -30px;
	}
	.newsslider-wrapper-slider-wrapper-slide-imagequote-quote{
		border-top: 0px;
		position: relative;
		padding-right: 20px;
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 200%;
			border-top: 2px solid $flamingo;
		}
	}
}
@media only screen and (min-width: $large){
	.newsslider-wrapper-slider-buttons{
		top: 100%;
	}
	.newsslider-wrapper{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.newsslider-wrapper-title{
		letter-spacing: 3px;
	}
	.newsslider-wrapper-title,
	.newsslider-wrapper-slider-wrapper-slide-imagequote-quote{
		font-size: 45px;
	}
}
