@media only screen {
	.parallax{
		position: absolute;
		top: 0%;
		left: 0%;
		width: 100%;
		height: 100%;
		z-index: 1;
		overflow: hidden;
		display: none;
	}
	.parallax-bg{
		background-image: url('../../lib/img/bg.png');
		background-size: cover;
		background-repeat: repeat-y;
		background-position: center top;
		pointer-events: none;
		transform: translate3d(0%, 0%, 0%);
		position: relative;
		height: 100%;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
