@media only screen {
	.tlg-wrapper-items-item-text{
		font-size: 24px;
		margin: 10px 0px;
	}
}

@media only screen and (min-width: $medium){
	.tlg-wrapper-items{
		font-size: 0;
	}
	.tlg-wrapper-items-item{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
	.tlg-wrapper-items-item-text{
		margin: 20px 0px;
	}
}