@media only screen {
	.atcg-wrapper-title,
	.atcg-wrapper-items-item{
		color: white;
	}
	.atcg-wrapper{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.atcg-wrapper-items,
	.atcg-wrapper-title{
		max-width: $small;
		margin: 0 auto;
	}
	.atcg-wrapper-title{
		font-size: 24px;
		margin-bottom: 20px;
		font-weight: bold;
	}
	.atcg-wrapper-items{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
	.atcg-wrapper-items-item{
		border-bottom: 2px solid white;
		padding-bottom: 10px;
		display: flex;
		align-items: end;
		font-size: 11px;
		font-weight: bold;
	}
}

@media only screen and (min-width: $medium){
	.atcg-wrapper-title{
		font-size: 40px;
		margin-bottom: 40px;
	}
	.atcg-wrapper-items{
		grid-gap: 40px;
	}
	.atcg-wrapper-items-item{
		font-size: 20px;
		padding-bottom: 20px;
	}
}
@media only screen and (min-width: $large){
	.atcg-wrapper-items,
	.atcg-wrapper-title{
		max-width: $medium;
	}
	.atcg-wrapper{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.atcg-wrapper-items{
		grid-template-columns: 1fr 1fr 1fr;
	}
}
@media only screen and (min-width: $xlarge){
	.atcg-wrapper-items,
	.atcg-wrapper-title{
		max-width: none;
	}
	.atcg-wrapper-title{
		max-width: $small;
		margin-left: 0px;
	}
}