@media only screen {
	.ilg-wrapper-items{
		font-size: 0;
	}
	.ilg-wrapper-items-item{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		padding-bottom: 50%;
		position: relative;
	}
	.ilg-wrapper-subtitle{
		text-align: center;
		font-size: 24px;
		font-weight: 300;
	}
	.ilg-wrapper-items-item-img{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-width: 90%;
		width: auto;
		height: auto;
		max-height: 80px;
	}
}
@media only screen and (min-width: $small){
	.ilg-wrapper-items-item{
		width: 25%;
		padding-bottom: 25%;
	}
}
@media only screen and (min-width: $medium){
	.ilg-wrapper-items-item-img{
		max-width: 60%;
	}
	.ilg-wrapper-items-item{
		width: 20%;
		padding-bottom: 12.5%;
	}
}
@media only screen and (min-width: $large){
	
}