@media only screen {
	.slg-wrapper-item{
		display: flex;
		flex-direction: column-reverse;
		margin-bottom: 40px;
		&:nth-child(even){
			text-align: right;
		}
	}
	.slg-wrapper-item-text-title{
		margin: 10px 0px;
	}
	.slg-wrapper-item-number-container{
		border-left: 10px solid $flamingo;
		transform: skew(-15deg);
		overflow: hidden;
		position: relative;
		left: 15px;
		display: inline-block;
	}
	.slg-wrapper-item-number-container-number{
		color: $pelorous;
		font-size: 80px;
		line-height: 80px;
		font-weight: 900;
		padding-left: 10px;
		transform: skew(15deg);
		display: block;
		position: relative;
		left: -15px;
	}
}

@media only screen and (min-width: $small){
	.slg-wrapper-item{
		flex-direction: row;
		align-items: center;
		text-align: right;
		justify-content: right;
		&:nth-child(even){
			flex-direction: row-reverse;
			text-align: left;
			justify-content: left;
			.slg-wrapper-item-text{
				padding-left: 20px;
			}
			.slg-wrapper-item-text-subtitle{
				margin-right: auto;
				margin-left: 0px;
			}
		}
	}
	.slg-wrapper-item-text{
		padding-right: 20px;
	}
}

@media only screen and (min-width: $medium){
}

@media only screen and (min-width: $large){
	.slg-wrapper{
		margin: 80px auto;
	}
	.slg-wrapper-item{
		margin-bottom: 80px;
	}
	.slg-wrapper-item-text-title{
		font-size: 44px;
	}
	.slg-wrapper-item-text-subtitle{
		font-size: 20px;
		max-width: 65%;
		margin-left: auto;
	}
	.slg-wrapper-item-number-container-number{
		font-size: 100px;
		line-height: 110px;
	}
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
