@media only screen {
	.posthighlightsgrid-wrapper-items{
		padding: 20px;
	}
	.posthighlightsgrid-wrapper-items-item{
		color: white;
		text-decoration: none;
		display: block;
		margin-bottom: 20px;
	}
	.posthighlightsgrid-wrapper-items-item-image{
		height: 200px;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.posthighlightsgrid-wrapper-items-item-text-title{
		text-align: center;
		&-line1,
		&-line2{
			display: block;
			line-height: 0.8;
			text-transform: uppercase;
			position: relative;
			font-size: 32px;
			transform: translate(0, -100%);
		}
		&.split{
			.posthighlightsgrid-wrapper-items-item-text-title-line1{
				right: 10px;
			}
			.posthighlightsgrid-wrapper-items-item-text-title-line2{
				left: 10px;
			}
		}
	}
	.posthighlightsgrid-wrapper-items-item-text-content{
		padding: 20px;
		margin-top: -30px;
	}
}

@media only screen and (min-width: $medium){
	.posthighlightsgrid-wrapper-items{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
	.posthighlightsgrid-wrapper-items-item{
		margin-bottom: 0px;
		&:nth-child(odd):last-of-type{
			grid-column: span 2;
		}
	}
}
@media only screen and (min-width: $large){
	.posthighlightsgrid-wrapper-items{
		grid-template-columns: 1fr 1fr 1fr;
	}
	.posthighlightsgrid-wrapper-items-item{
		&:nth-child(odd):last-of-type{
			grid-column: auto;
		}
	}
	.posthighlightsgrid-wrapper-items-item-image{
		height: 140px;
	}
	.posthighlightsgrid-wrapper-items-item-text-title{
		&.split{
			.posthighlightsgrid-wrapper-items-item-text-title-line1{
				right: 20px;
			}
			.posthighlightsgrid-wrapper-items-item-text-title-line2{
				left: 20px;
			}
		}
	}
}
