@media only screen {
	.imagetextgrid-wrapper-items{
		position: relative;
	}
	.imagetextgrid-wrapper-items-bracket{
		position: absolute;
		height: 100%;
		border-left: 3px solid black;
		&--left{
			left: 0px;
			top: 0px;
			&:before{
				content: '';
				position: absolute;
				top: 0px;
				width: 50px;
				height: 0px;
				border-bottom: 3px solid black;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 0px;
				width: 50px;
				height: 0px;
				border-bottom: 3px solid black;
			}
		}
		&--right{
			right: 0px;
			top: 0px;
			&:before{
				content: '';
				position: absolute;
				top: 0px;
				right: 0px;
				width: 50px;
				height: 0px;
				border-bottom: 3px solid black;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 0px;
				width: 50px;
				right: 0px;
				height: 0px;
				border-bottom: 3px solid black;
			}
		}
	}
	.imagetextgrid-wrapper-items-wrapper{
		width: 85%;
		margin: 0 auto;
	}
	.imagetextgrid-wrapper-items-wrapper-item{
		margin-bottom: 20px;
	}
	.imagetextgrid-wrapper-items-wrapper-item-image{
		padding-bottom: 56.25%; // 16/9 ratio
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
	}
	.imagetextgrid-wrapper-items-wrapper-item-text-inner > br{
		display: none;
		line-height: 0;
	}
	.imagetextgrid-wrapper-items-wrapper-item-text-inner-title{
		color: $flamingo;
		font-weight: 400;
		letter-spacing: 2px;
		margin: 10px 0px 5px 0px;
		font-size: 24px;
		a{
			text-decoration: none;
			color: black;
		}
	}
	.imagetextgrid-wrapper-items-wrapper-item-text-inner-info{
		font-weight: 400;
		font-size: 22px;
		a{
			text-decoration: none;
			color: black;
			display: block;
		}
	}
}

@media only screen and (min-width: $small){
	.imagetextgrid-wrapper-items-wrapper-item{
		display: flex;
		flex-direction: row;
		&:nth-child(even){
			flex-direction: row-reverse;
			.imagetextgrid-wrapper-items-wrapper-item-text-inner{
				padding-right: 20px;
				padding-left: 0px;
			}
		}
	}
	.imagetextgrid-wrapper-items-wrapper-item-image{
		padding-bottom: 28.125%; // half of 16/9
		width: 50%;
	}
	.imagetextgrid-wrapper-items-wrapper-item-text{
		width: 50%;
		text-align: center;
	}
	.imagetextgrid-wrapper-items-wrapper-item-text-inner{
		display: inline-block;
		text-align: left;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		padding-left: 20px;
	}
	.imagetextgrid-wrapper-items-wrapper-item-text-inner-title,
	.imagetextgrid-wrapper-items-wrapper-item-text-inner-info{
		// display: inline-block;
	}
}