@media only screen {
	.hrl{
		text-align: center;
		hr{
			display: none;
		}
	}
	.hrl-wrapper-item{
		display: block;
		font-size: 22px;
		font-weight: 400;
		margin: 20px 0px;
		text-transform: uppercase;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	.hrl{
		hr{
			display: block;
			color: $flamingo;
		}
	}
	.hrl-wrapper-item{
		display: inline-block;
		padding: 0px 20px;
	}
}

@media only screen and (min-width: $large){
	.hrl-wrapper-item{
		font-size: 30px;
	}
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
