@media only screen {
	.dynamicgrid-wrapper-desktoprows{
		display: none;
	}

	@each $breakpoint in ('desktop', 'mobile'){
		.dynamicgrid-wrapper-#{$breakpoint}rows{
			// get columns working
			@for $i from 1 through 3 {
				&.maxcols-#{$i} {
					@if $i == 2 or $i == 3 {
						.dynamicgrid-wrapper-#{$breakpoint}rows-row{
							display: grid;
							grid-template-columns: repeat(#{$i}, 1fr);
						}
					}
				}
			}
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell{
			@for $i from 1 through 3 {
				&.colspan-#{$i} {
					grid-column: span #{$i};
				}
			}
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-image{
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center center;
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text{
			padding: 10px;
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text-header{
			font-size: 15px;
			font-weight: bold;
			position: relative;
			padding-bottom: 20px;
			&:after{
				content: '';
				position: absolute;
				bottom: 15px;
				left: 0px;
				width: 100%;
				border-bottom: 1px solid black;
			}
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text-content{
			font-size: 11px;
			line-height: 1.4;
			li{
				padding-bottom: 5px;
			}
			br{
				display: block;
				margin: 5px 0px;
			}
			&.twocol{
				column-count: 2;
				display: inline-block;
			}
		}
	}
}

@media only screen and (min-width: $small){
	@each $breakpoint in ('desktop', 'mobile'){
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text-header{
			font-size: 22px;
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text-content{
			font-size: 18px;
		}
	}
}

@media only screen and (min-width: $medium){
	@each $breakpoint in ('desktop', 'mobile'){
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text{
			padding: 20px;
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text-header{
			font-size: 28px;
		}
		.dynamicgrid-wrapper-#{$breakpoint}rows-row-cell-text-content{
			font-size: 21px;
		}
	}
}
@media only screen and (min-width: $large){
	.dynamicgrid-wrapper-desktoprows{
		display: block;
	}
	.dynamicgrid-wrapper-mobilerows{
		display: none;
	}
}
