@media only screen {
	.windowpanegrid-wrapper-items{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		border: 4px solid white;
	}
	.windowpanegrid-wrapper-items-item{
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 22px;
		padding: 40px;
		border: 4px solid white;
		min-height: 146px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media only screen and (min-width: $small){
	.windowpanegrid-wrapper-items{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.windowpanegrid-wrapper-items-item{
		&:last-child:nth-child(odd){
			// grid-column: span 2;
		}
	}
}

@media only screen and (min-width: $large){
	.windowpanegrid-wrapper{
		max-width: $xlarge;
	}
	.windowpanegrid-wrapper-items{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}