@media only screen {
	.hero{
		z-index: 40;
		position: relative;
		overflow: hidden;
	}
	.hero-big{
		position: relative;
		height: 100vh;
	}
	.hero-small{
		height: 120px;
		overflow: hidden;
		&--hastext{
			height: auto;
			position: relative;
		}
	}
	.hero-small-text{
		padding: 110px 40px 40px 40px;
		z-index: 44;
		color: white;
		position: relative;
		text-align: center;
	}
	.hero-small-text-title{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 4px;
	}
	.hero-small-text-subtitle{
		font-weight: 300;
	}
	.hero-small-videocontainer-video{
		position: absolute;
		top: 0px;
		z-index: 2;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.hero-small-img{
		display: block;
		position: fixed;
		width: 150%;
		height: auto;
		max-width: none;
		left: 50%;
		top: 10%;
		transform-origin: center center;
	}
	.hero-big-videocontainer-video {
		position: fixed;
	    right: 0;
	    bottom: 0;
	    min-width: 100%;
	    min-height: 100%;
	    transform: translateX(calc((100% - 100vw) / 2));
	}

	.hero-big-mobiletext{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		color: white;
		z-index: 10;
		width: 100%;
		pointer-events: none;
	}

	.hero-big-mobiletext-header{
		font-size: 37px;
		font-weight: 300;
		text-transform: uppercase;
		letter-spacing: 5px;
		display: inline-block;
		animation: blurin 10.644s ease-in-out 0s infinite normal;
	}
	.hero-big-mobiletext-subheaders{
		position: relative;
	}
	.hero-big-mobiletext-subheaders-subheader{
		font-weight: 300;
		font-size: 22px;
		visibility: hidden;
		animation: fadeinout 10.644s ease-in-out 0s infinite normal;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		padding: 0px 20px;
		width: 100%;
		
		&:last-child{
			animation-delay: 5.322s;
			animation-name: fadeinout2;
			color: $java;
		}
	}

	.hero-big-tint{
		background: linear-gradient(to bottom, rgba(20, 71, 56, 1), rgba(20, 71, 56, 0) 50%);
		opacity: 0.5;
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 5;
	}

}

@media only screen and (min-width: $small){
	.hero-small-img{
		top: 20%;
	}
}

@media only screen and (min-width: $medium){
	.hero-small{
		height: 200px;
		&--hastext{
			height: auto;
		}
	}
	.hero-big-mobiletext-header{
		font-size: 60px;
		letter-spacing: 15px;
	}
	.hero-big-mobiletext-subheaders-subheader{
		font-size: 36px;
	}
	.hero-small-text{
		padding: 150px 40px 80px 40px;
	}
	.hero-small-text-title{
		font-size: 40px;
	}
	.hero-small-text-subtitle{
		font-size: 28px;
		max-width: $medium;
		margin: 0 auto;
	}
}

@media only screen and (min-width: $large){
	.hero-small{
		height: 240px;
		&--hastext{
			height: auto;
		}
	}
	.hero-big-mobiletext-header{
		font-size: 80px;
	}
	.hero-big-mobiletext-subheaders-subheader{
		font-size: 44px;
	}
}
@media only screen and (min-width: $xlarge){
	.hero-big-mobiletext-header{
		font-size: 120px;
	}
	.hero-big-mobiletext-subheaders-subheader{
		font-size: 52px;
	}
}

@media only screen and (min-width: $xxlarge){
	.hero-big-mobiletext-header{
		font-size: 140px;
	}
}
