@media only screen {
	.mflip-imagecontainer{
		text-align: center;
	}
	.mflip-imagecontainer-image{
		display: block;
		max-width: 220px;
		width: 100%;
		margin: 0 auto;
	}
	.mflip-textcontainer-text{
		text-align: center;
		margin-top: 10px;
		font-size: 18px;
		em{
			font-weight: 600;
		}
	}
}

@media only screen and (min-width: $small){
	.mflip{
		font-size: 0;
	}
	.mflip-imagecontainer,
	.mflip-textcontainer{
		display: inline-block;
		width: 50%;
		vertical-align: middle;
	}
	.mflip-textcontainer-text{
		text-align: left;
	}
	.mflip-imagecontainer{
		text-align: right;
	}
	.mflip-imagecontainer-image{
		max-width: 170px;
		margin: 0;
		margin-left: auto;
		margin-right: 70px;
	}
}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	
}

@media only screen and (min-width: $largeplus){
	
}

@media only screen and (min-width: $xlarge){
	
}
