@media only screen {
	.imagelistmodule-wrapper{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.imagelistmodule-wrapper-title{
		font-size: 29px;
		color: $flamingo;
		letter-spacing: 9px;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 40px;
		font-weight: 300;
	}
	.imagelistmodule-wrapper-seemore{
		display: inline-block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		padding: 10px 20px;
		text-transform: uppercase;
		border: 3px solid black;
		letter-spacing: 2px;
		font-size: 20px;
		margin: 40px 0px;
		font-weight: 600;
		cursor: pointer;
		color: black;
		text-decoration: none;
		&:focus,
		&:visited{
			color: black;
		}
		transition: color 0.25s ease, background-color 0.25s ease;
		&:hover{
			color: white;
			background-color: black;
		}
	}
	.imagelistmodule-wrapper-images{
		text-align: center;
	}
	.imagelistmodule-wrapper-images-image{
		margin-bottom: 20px;
		display: block;
	}
}

@media only screen and (min-width: $medium){
	.imagelistmodule-wrapper-images-image{
		margin-bottom: 60px;
	}
}
@media only screen and (min-width: $large){
	.imagelistmodule-wrapper{
		padding-top: 160px;
		padding-bottom: 40px;
	}
	.imagelistmodule-wrapper-title{
		font-size: 45px;
		letter-spacing: 3px;
		margin-bottom: 60px;
	}
	.imagelistmodule-wrapper-images-image{
		margin-bottom: 100px;
		&:last-child{
			margin-bottom: 50px;
		}
	}
}
