@media only screen {
	.bannermodule{
		margin-bottom: 40px;
	}
	.bannermodule-wrapper{
		padding: 0px;
	}
	.bannermodule-wrapper-content{
		color: white;
		text-align: center;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}
}