@media only screen {
	.brackettextmodule-wrapper-bracket{
		height: 2px;
		width: 80%;
		background-color: black;
		margin: 20px auto 40px auto;
		position: relative;
		&:after{
			content: '';
			display: block;
			position: absolute;
			top: 2px;
			left: 0px;
			height: 40px;
			width: 2px;
			background-color: black;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			top: 2px;
			right: 0px;
			height: 40px;
			width: 2px;
			background-color: black;
		}
		&--bottom{
			margin: 40px auto 20px auto;
			&:after,
			&:before{
				top: -40px;
			}
		}
	}
	.brackettextmodule-wrapper-text{
		color: $flamingo;
		text-align: center;
		font-size: 22px;
		padding: 20px 0px;
	}
}

@media only screen and (min-width: $small){
	.brackettextmodule-wrapper{
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.brackettextmodule-wrapper-text{
		font-size: 24px;
	}
}

@media only screen and (min-width: $medium){
	.brackettextmodule-wrapper{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.brackettextmodule-wrapper-text{
		font-size: 53px;
		font-weight: 300;
	}
	.brackettextmodule-wrapper-bracket{
		width: 65%;
	}
}
@media only screen and (min-width: $xlarge){
	.brackettextmodule-wrapper-text{
		font-size: 66px;
	}
}
