@media only screen {
	.stretchtofold{
		overflow: hidden;
	}
	.stretchtofold-wrapper{
		padding-top: 40px;
		padding-bottom: 160px;
		position: relative;
	}
	.stretchtofold-wrapper-text{
		color: white;
		font-size: 36px;
		position: relative;
		max-width: 565px;
		z-index: 10;
		&:after{
			content: '';
			margin: 20px 0px;
			width: 100px;
			border-bottom: 5px solid $flamingo;
			display: block;
		}
	}
	.stretchtofold-bgimage{
		position: absolute;
		top: -1px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		width: 100%;
		height: calc(100% + 1px);
		object-fit: cover;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	.stretchtofold-wrapper{
		padding: 90px;
		padding-bottom: 160px;
	}
	.stretchtofold-wrapper-text{
		font-size: 45px;
	}
}
@media only screen and (min-width: $large){
	.stretchtofold-wrapper{
		padding: 80px 40px;
	}
	.stretchtofold-wrapper-text{
		font-weight: 900;
	}
}
@media only screen and (min-width: $xxlarge){
	// .stretchtofold-wrapper{
	// 	margin: 0px;
	// 	margin-left: 15%;
	// 	padding-left: 0px;
	// }
}
@media only screen and (min-width: $xxxlarge){
	.stretchtofold-wrapper-text{
		font-size: 68px;
		margin-left: 0px;
		max-width: none;
	}
}
