@media only screen {
	.wysiwyg-wrapper-bracket{
		border: 1px solid black;
		height: 2px;
		width: 80%;
		margin: 0 auto;
		position: relative;
		&--top{
			&:before{
				content: '';
				position: absolute;
				transform: rotate(90deg);
				border: 1px solid black;
				width: 40px;
				bottom: 0px;
				left: 0px;
				transform-origin: left;
			}
			&:after{
				content: '';
				position: absolute;
				transform: rotate(-90deg);
				border: 1px solid black;
				width: 40px;
				top: 0px;
				right: 0px;
				transform-origin: right;
			}
		}
		&--bottom{
			&:before{
				content: '';
				position: absolute;
				transform: rotate(-90deg);
				border: 1px solid black;
				width: 40px;
				top: 0px;
				left: 0px;
				transform-origin: left;
			}
			&:after{
				content: '';
				position: absolute;
				transform: rotate(90deg);
				border: 1px solid black;
				width: 40px;
				bottom: 0px;
				right: 0px;
				transform-origin: right;
			}
		}
	}
	.wysiwyg-wrapper-content{
		padding: 40px 0px;
		a{
			color: black;
		}
		.pinkbgheader{
			background: $flamingo;
			text-transform: uppercase;
			text-align: center;
			color: white;
			padding: 5px;
			font-size: 22px;
		}
	}
}

@media only screen and (min-width: $medium){
	.wysiwyg-wrapper-content{
		padding: 60px 0px;
	}
}