@media only screen {
	.imageshowcase{
		position: relative;
		z-index: 40;
		margin: 100px 0px;
	}
	.imageshowcase-wrapper{
		overflow: hidden;
		height: 250px;
		width: 100%;
	}
	.imageshowcase-wrapper-images-image{
		height: 250px;
	}
	.imageshowcase-wrapper-images-image-bg{
		height: 250px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
}

@media only screen and (min-width: $small){
	
}

@media only screen and (min-width: $medium){
	
}

@media only screen and (min-width: $large){
	.imageshowcase-wrapper{
		height: 540px;
	}
}