@media only screen {
	.singlepostmodule-wrapper{
		list-style: none;
	}
}

@media only screen and (min-width: $small){

}

@media only screen and (min-width: $medium){
	
}
@media only screen and (min-width: $large){
	
}
