@media only screen {
	.ribbon{
		display: none;
		position: absolute;
		top: -40px;
		overflow: hidden;
		img{
			max-width: 160px;
		}
	}
	.ribbon--right{
		right: 0px;
	}
	.ribbon--left{
		left: 0px;
	}
}

@media only screen and (min-width: $large){
	.ribbon{
		display: block;
	}
}

@media only screen and (min-width: $xxlarge){
	.ribbon{
		img{
			max-width: 240px;
		}
	}
}
